* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 9px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

a {
  display: flex;
  text-decoration: none;
}
:root {
  --link-color: #0065cc;
}
.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5rem);
  font-weight: 150;
}
header ul{
  filter: invert(0.2);
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.nav-list_list-mobile {
  display: none;
}

.nav-link {
  font-size: 1.4rem;
  color: #fff;
  padding: 0 1rem;
  transition: opacity 0.5s;
}

.nav-link-apple {
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/icons/apple.svg") center no-repeat;
}

.nav-link-search {
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/icons/search.svg") center no-repeat;
}

.nav-link-bag {
  width: 1.4rem;
  height: 4.4rem;
  background: url("images/icons/bag.svg") center no-repeat;
}
/* iphone section */
.iphone {
  display: grid;
  width: auto;
  background: url("/images/Iphone13.jpeg");
  background-size: 650px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 500px;
  background-color: #fbfbfd;
  padding: 1rem;
}

.title {
  color: rgb(30, 28, 28);
  text-align: center;
  padding-top: 80px;
}

.title-heading {
  font-size: 5.6rem;
  line-height: 1.08;
  letter-spacing: 0.005rem;
}

.title-sub-heading {
  padding: 10px;
  font-size: 2.65rem;
  margin-top: 0.6rem;
  font-weight: 350;
}

.iphone-link-list{
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
}

.iphone-link-item {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  text-decoration: none;
  color: var(--link-color);
  font-size: 18px;
}

